head
    meta(charset='UTF-8')
    //title=page_title
    //meta(name="description", content= page_description)
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel="shortcut icon", href="assets/favicon/favicon.ico", type="image/x-icon")
    link(rel="icon", href="assets/favicon/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="assets/css/" + css_main)
