doctype html
html(lang='en-US')
  include head
  block variables
  body(class=body_class)
    block page_content
  //include footer

script(src="/assets/js/vendor.js")
script(src="/assets/js/" + js_app)