.landing {
  width: 100%;
  height: 100%;
  background: transparent url(../images/bkg1.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;

  .content {
    width: 100%;
    //height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 65px;
    font-weight: 700;
    color: $white;
  }
}