.navbar {
  width: 100%;
  height: 99px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 27px rgba(0, 0, 0, 0.06);

  img {
    width: 59px;
    height: 59px;
  }
}