extends partials/layout
block variables
    - var body_class = 'landing'
block page_content
    .navbar
        img(src="assets/images/header-navbar-logo.png", srcset="assets/images/header-navbar-logo@2x.png 119w")
    .content
        h1.title Kickstarter HTML